<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 * Admin Routes
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="liveactivity" frontName="liveactivity">
            <module name="Panth_LiveActivity" before="Magento_Backend"/>
        </route>
    </router>
</config>
